<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Pre-Doctoral Researcher at Google DeepMind working on LLM efficiency, sparsity, adaptive compute, multimodal systems, and visual generative models." />
    <script type="application/ld+json"> { "@context": "https://schema.org", "@type": "Person", "name": "Swayam Agrawal", "url": "{{ site.url }}", "sameAs": [ "{{ site.github_url }}", "{{ site.linkedin_url }}", "{{ site.twitter_url }}" ], "worksFor": { "@type": "Organization", "name": "Google DeepMind" } } </script>
    <title>{{ site.name }}</title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <meta name="author" content="{{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.baseurl }}/style.css"
    />
    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      .equal-contribution {
        color: #e74c3c;
        font-weight: bold;
        text-decoration: none;
      }
      .equal-contribution:hover {
        color: #c0392b;
        text-decoration: underline;
      }
      .venue-highlight {
        background-color: #f0f8ff;
        padding: 0px 6px;
        border-radius: 4px;
        border-left: 3px solid #4A90E2;
      }
      .award-highlight {
        color: #ffaa00;
        margin-left: 5px;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <table
      style="
        width: 100%;
        max-width: 800px;
        border: 0px;
        border-spacing: 0px;
        border-collapse: separate;
        margin-right: auto;
        margin-left: auto;
      "
    >
      <tr style="padding: 0px">
        <td style="padding: 0px">
          <table
            style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            "
          >
            <tr style="padding: 0px">
              <td style="padding: 2.5%; width: 60%; vertical-align: middle">
                <h1>Swayam Agrawal</h1>
                <p>
                  I am a PreDoctoral Researcher at
                  <a href="https://deepmind.google/">Google DeepMind</a>, in the
                  Machine Learning & Optimization team where I work on <a href="https://gemini.google.com/">Gemini</a>'s Large-Scale Pretraining
                  and Visual-Generative models. I am currently working with <a href="http://www.prateekjain.org/">Prateek Jain</a>, 
                  <a href="http://sujoyp.github.io/">Sujoy Paul</a>, and <a href="https://adityakusupati.github.io/">Aditya Kusupati</a>.
                </p>
                <p>
                  I received my Bachelor's degree in Computer Science and Engineering from with Honors from <a href="https://iiit.ac.in/">IIIT Hyderabad</a>.
                  As an undergraduate, I broadly worked on Robotics, and Computer Vision under the supervision of <a href="https://robotics.iiit.ac.in/faculty_mkrishna/">Prof. Madhava Krishna</a> 
                  and <a href="https://oravus.github.io/">Dr. Sourav Garg</a> at the <a href="https://robotics.iiit.ac.in/">Robotics Research Center</a>.
                </p>
                <p style="text-align: center">
                  <a target="_blank" href="mailto:swayamag@google.com">
                    Email</a
                  >
                  &nbsp;/&nbsp;
                  <a href="https://github.com/schlechter-afk">GitHub</a> &nbsp;/&nbsp;
                  <a
                    href="https://scholar.google.com/citations?user=ZFWUmCAAAAAJ&hl=en"
                    >Google Scholar</a
                  >
                  &nbsp;/&nbsp;
                  <a href="https://twitter.com/Swayam_421"> Twitter </a> &nbsp;/&nbsp;
                  <a href="https://www.linkedin.com/in/swayam-agrawal-8ab913234/"> LinkedIn </a>
                </p>
              </td>
              <td style="padding: 2.5%; width: 40%; max-width: 40%">
                <img
                  style="width: 100%; max-width: 100%"
                  alt="profile photo"
                  src="images/web-pic.jpg"
                />
              </td>
            </tr>
          </table>

          <table
            style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            "
          >
            <tr>
              <td style="padding: 2.5%; width: 100%; vertical-align: middle">
                <h2>Research</h2>
                <p>
                  My research interests, rooted in the philosophy that the <a href="https://www.lesswrong.com/posts/f8joCrfQemEc3aCk8/the-local-unit-of-intelligence-is-flops">local unit of intelligence is FLOPS</a>,
                  span large model efficiency and elasticity (e.g., sparsity, adaptive compute), 
                  as well as representation learning, multimodal systems, and visual generative models.
                </p>
              </td>
            </tr>
          </table>
          <br />
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Publications</h2>
              </td>
            </tr>
          </table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

            {% for post in site.posts %}
            {% for cat in post.categories %}
            {% if cat == 'research' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3>{{post.title}}</h3>
                <br>
                {{post.authors}}
                <br>
                <span class="venue-highlight">
                  <strong><em>{{post.venue}}</em></strong>
                  {{ post.date | date: "%Y" }}
                  {% if post.spotlight %}
                    <span class="award-highlight">(Spotlight 🌟)</span>
                  {% endif %}
                  {% if post.oral %}
                    <span class="award-highlight">🎤 Oral</span>
                  {% endif %}
                </span>
                <br>
                {% if post.arxiv %}
                <a href="{{post.arxiv}}">arxiv</a> /
                {% endif %}
                {% if post.video %}
                <a href="{{post.video}}">video</a> /
                {% endif %}
                {% if post.code %}
                <a href="{{post.code}}">code</a> /
                {% endif %}
                {% if post.poster %}
                <a href="{{post.poster}}">poster</a> /
                {% endif %}
                {% if post.slides %}
                <a href="{{post.slides}}">slides</a> /
                {% endif %}
                {% if post.website %}
                <a href="{{post.website}}">website</a> /
                {% endif %}
                {% if post.youtube %}
                <a href="{{post.youtube}}">youtube</a> /
                {% endif %}
                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <p style="font-size: 14px; color: #666; font-style: italic;">
                  <span class="equal-contribution">*</span> denotes equal contribution
                </p>
              </td>
            </tr>
          </table>
          <br>

          <table
            style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            "
          >
            <tr>
              <td style="padding: 0px">
                <br />
                <p style="text-align: center; font-size: small">
                  Design and source code from
                  <a style="font-size: small" href="https://jonbarron.info"
                    >Jon Barron's website</a
                  >. Jekyll fork from <a href="https://leonidk.com/">Leonid Keselman</a>.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
